@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2 style="text-align: center">HOME</h2>

<!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    new TradingView.widget({
        "width": 940,
        "height": 610,
        "symbol": "NASDAQ:AAPL",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "Light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "hideideas": true
    });
</script>
<!-- TradingView Widget END -->

<h2 style="text-align: center">BUY</h2>

@using (Ajax.BeginForm("OpenPosition", "Home", null, new AjaxOptions
{
    UpdateTargetId = "NewPositionPartial",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "buySuccess(data)"
}, new { Id = "NewPositionForm" }))
{
    <div id="NewPositionPartial">
        @{ Html.RenderAction("NewPositionPartial", "Home"); }
    </div>
}

<h2 style="text-align: center">POSITIONS</h2>

<div id="divLoading"></div>
<div id="PositionsPartial"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

    <script>
        function onBegin() {
            $("#divLoading").html('<image src="../Content/ajax-loader.gif" alt="Loading, please wait" />');
        }

        function onComplete() {
            $("#divLoading").html("");
        }

        function updatePositions() {
            $("#PositionsPartial").load(
                '@Url.Action("PositionsPartial", "Home")',
                () => onComplete()
            );
        }

        function updateEstimate() {
            $.ajax({
                url: '@Url.Action("GetPositionEstimate", "Home")',
                data: $('#NewPositionForm').serialize(),
                success: function(data) {
                    $('#EstimateText').val("$" + data);
                }
            });
        }

        function buySuccess(data) {
            if (data.indexOf("field-validation-error") > -1) return;
            alert('Successfully bough shares.');
            updatePositions();
        }

        function closeSuccess() {
            alert('Successfully closed position.');
            updatePositions();
        }

        $(document).ready(function() {
            onBegin();
            updatePositions();
        });
    </script>
}
