@{
    ViewBag.Title = "Users";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2 style="text-align: center">USERS</h2>

<div id="divLoading"></div>
<div id="UsersPartial"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

    <script>
        function onBegin() {
            $("#divLoading").html('<image src="../Content/ajax-loader.gif" alt="Loading, please wait" />');
        }

        function onComplete() {
            $("#divLoading").html("");
        }

        function updateUsers() {
            $("#UsersPartial").load(
                '@Url.Action("UsersPartial", "Home")',
                () => onComplete()
            );
        }

        $(document).ready(function () {
            onBegin();
            updateUsers();
        });
    </script>
}